/*注册网页整体的样式*/
#header{
	width: 1349px;
	height: 920px;
}
/*头部样式*/
#head{
	width: 1349px;
	height: 124px;
}
#fugai{
	position: absolute;
	top: 1px;
	right: 198px;
}
#qq{
	position: absolute;
	top: 125px;
	left: 197px;
	z-index: 1;
}
/*左边样式*/
#left{
	width: 191px;
	height: 660px;
	background: #e0ebf4;
	border-left:1px solid #b4c7d6;
	border-right:1px solid #b4c7d6;
	border-bottom:1px solid #b4c7d6;
	position: absolute;
	top: 208px;
	left: 198px;
}
#wenzi{
	color: white;
	background: #87ceeb;
	width: 170px;
	height: 30px;
	font-size:18px;
	text-align: center;
	line-height: 30px;
	font-family: 华文行楷;
	margin-left: 10px;
	margin-top:80px;
}
#sousuo{
	width: 170px;
	margin-left: 10px;
	height: 170px;
	background: #ecf3f6;
}
#txt{
	width: 132px;
	border:1px #b4c7d6 solid;
	margin-top: 5px;
}
#btn{
	width: 35px;
	height: 24px;
	border:1px #b4c7d6 solid;
}
#message{
	color: #ccc;
	position: absolute;
	top: 118px;
	left: 10px;
}
#table1{
	margin-top: 20px;
}
#table1 a{
	color: #666;
	font-weight: bold;
}
#table1 a:hover{
	color: #87ceeb;
}
/*右边样式*/
#right{
	width: 762px;
	height: 743px;
	background: #fdf8ff;
	border-left:1px solid #b4c7d6;
	border-right:1px solid #b4c7d6;
	border-bottom:1px solid #b4c7d6;
	position: absolute;
	top: 125px;
	left: 390px;
}
#tu{
	width: 612px;
	height: 162px;
	background: url(images2/tu.png) no-repeat;
	position: absolute;
	top: 0px;
	left: 35px;
}
#tit{
	margin-top: 165px;
	margin-left: 36px;
}
#table2{
	margin-left: 30px;
	margin-top: 5px;
	font-size: 16px;
}
.ta1{
	width: 340px;
	height: 30px;
	border-radius:5px 5px 5px 5px;
}
.ta2{
	width: 70px;
	height: 30px;
	border-radius:5px 5px 5px 5px;
}
.ta3{
	height: 30px;
	border-radius:5px 5px 5px 5px;
}
.ta4{
	background: #7fff00;
	color: white; 
	width: 340px;
	height: 30px;
	border-radius:5px 5px 5px 5px;
}
#yan{
	width: 230px;
	height: 30px;
	border-radius:5px 5px 5px 5px;
}
#hyan{
	width: 100px;
	height: 32px;
	font-size: 16px;
}
#aa{
	color: blue;
}
#aa:hover{
	text-decoration: underline;
}
.ta5{
	font-size: 14px;
}

.green{
	color: green;
	font-weight: bold;
}
.red{
	color: red;
	font-weight: bold;
}
#usermess{
	font-size: 13px;
}
#pwdmess1{
	font-size: 13px;
}
#pwdmess2{
	font-size: 13px;
}
#pmess{
	font-size: 13px;
}
#smess{
	font-size: 13px;
}
#dlcg{
	width: 200px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 250px;
	margin-top:200px;
}
#d1,#d2,#d3,#d4,#d5{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 50px;
	height: 40px;
	margin-left: 240px;
	margin-top:0px;
	line-height: 40px;
}
.n2,.n3,.n4,.n5{
	display: none;
}
#ddd{
	width: 270px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 290px;
	margin-top:-30px;
}